.random-hamster-grid {
    background-color: #3E4F61;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: .2em;
    padding-bottom: 2em;
}

.random-hamster-grid section article h3, .random-hamster-grid section article p {
    color: #e8e8e8;
}

.random-hamster-grid section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 3em;
    align-items: center;   
}

.random-hamster-grid section article{
    cursor: pointer;    
}

.random-hamster-grid section article img {
        margin-top: .4em;
        display: inline-block;
        width: 12em;
        height: 14em;
        object-fit: cover;
}

.random-hamster-grid section article button, .new-fight-button {
    display:inline-block;
    text-decoration:none;
    padding:0.35em 1.2em;
    border-radius:0.12em;
    border:0.1em solid #e8e8e8;
    margin:3em 0.3em 0.3em 0em;
    box-sizing: border-box;
    color: #e8e8e8;
    transition: all 0.2s;
    background-color: transparent;
    cursor: pointer; 
}

.random-hamster-grid section article button:hover, .new-fight-button:hover {
    color:#000000;
    background-color: #e8e8e8;
  }

.new-fight-button {
    margin: 0em;
    font-size: 1.5em; 
}

.cutest-button.hide {
    display: hidden;
}

.vinnarinfo.hide {
    display: none;

}

.vinnarinfo.reveal {
    display: block;
    
}
