/* .match-winner {
	position: fixed;
	background-color:#3E4F61;
	height: 70vh;
	width: 80vw;
	top: 9em;
    border-radius: .2em;
	
} */

.winner-grid {
	display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 3em;
    align-items: center;

}
