.header nav {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.header a {
    text-decoration: none;
    color: white;
    font-family: Montserrat;
    font-size: .8em;
    font-weight: 600;
    transition: all 0.5s ease-in-out;
}

.header-links:hover {
    border-bottom: 1px solid white;
}

.hamster-logo :hover {
    border-bottom: 1px solid transparent;
}


.header h1 {
    text-align: center;
    font-size: 3em;
    font-weight: 600;
}

.start-page {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding:2em 8em;
}
.start-page h3 {
    color: #e8e8e8;

}

.cutest-hamster-pic {
    margin-top: -3.5em;
    width: 12em;
    height: 14em;
    object-fit: cover;
}

.about {
    max-width: 30em;
    height: auto;
    align-self: center;
    margin-left:3em;
}
.about p {
    padding-bottom: 2.4em;
}

/*Styling for Cutest */
.start-contest-button {
    display:inline-block;
    text-decoration:none;
    padding:0.35em 1.2em;
    border-radius:0.12em;
    border:0.1em solid #e8e8e8;
    margin:3em 0.3em 0.3em 0;
    box-sizing: border-box;
    color: #e8e8e8;
    transition: all 0.2s;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.5em; 
}

.start-contest-button:hover {
    color:#000000;
    background-color: #e8e8e8;
}

