.overlay {
	/* Overlay ligger i #root i DOM */
	position: fixed;
	background-color: rgba(0, 0, 0, 0.5);
	height: 100vh;
	width: 100vw;
	top: 0em;
	left: 0em;
	z-index: 100;
}

.overlay .dialog {
	background-color: #3E4F61;
	color: #e8e8e8;
	/* width: 10em;
	height: 10em; */
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: 2em;
    border-radius: .2em;
}

.input-fields {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}
.input-fields p {
    font-size:.9em;
}

.inputs {
    font-size: 1em;
    height: 2em;
    width: 18.6em;
}

.inputs:focus {
    outline: none;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.valid {
	border-color: #14971E;
}
.invalid {
	border-color: #E0471F;
}