.hamsters {
    display: grid;
	grid-template-columns: repeat(3, 1fr);
  justify-items: center;
	grid-gap: 1.5em;
	padding: 1em;

} 

.hamsters li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 12em;
    max-width: 12em;
    background-color: #3E4F61;
    padding: 0.5em;
    border-radius: 1em;
}

.hamsters img {
  margin-top: .4em;
}

.hamsters span {
  color: white;
}