.hamsters {
    display: grid;
	grid-template-columns: repeat(4, 1fr);
  justify-items: center;
	grid-gap: 1.5em;
	padding: 1em;
} 

.galleri-rubrik button, .hamsters button {
  display:inline-block;
  text-decoration:none;
  padding:0.35em 1.2em;
  border-radius:0.12em;
  border:0.1em solid #e8e8e8;
  margin:2em 0.3em 0.3em 0em;
  box-sizing: border-box;
  color: #e8e8e8;
  transition: all 0.2s;
  background-color: transparent;
  cursor: pointer; 
}
.galleri-rubrik button:hover, .hamsters button:hover {
  color:#000000;
  background-color: #e8e8e8;
}


.hamsters section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* height: 13em; */
    width: 9em;
    background-color: #3E4F61;
    padding: 0.5em 0.5em 1.7em;
    border-radius: .2em;
    overflow:hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.hamsters img {
  margin-top: .4em;
  display: inline-block;
  width: 11em;
  height: 6em;
  object-fit:cover;
}

.hamsters p {
  color: white;
  margin-bottom: 0;
}
.info {
  margin:.5em;
  cursor: pointer;
}

.extra-info{
  top: 1em;
  background-color:#3E4F61;
  width: 14em;
  height:15.5em;
  transition: background 2s ease,
              padding 2s linear;
  /* transition: all 4s ease-in-out; */
  border-radius: .2em;
  transform: rotate(1turn);
}

@media screen and (max-width: 950px) {
  .hamsters {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 750px) {
  .hamsters {
    grid-template-columns: repeat(2, 1fr);
  }
}