.root {
  --dark-green: #517078;
  --light-green: #869082;
  --dark-blue: #3E4F61;
}

h1, h2, h3, p {
  font-family: Montserrat;
}

.App {
  text-align: center;
}

.wrapper {
  background: linear-gradient(#517078, #869082);
  margin:auto;
  height: auto 100vh;
  width: 80vw;
  border-radius:0.5em;
  padding: 2em;
}


h1 {
  color: #e8e8e8;
}

.big-hamster {
  position: sticky;
  margin-left: 50em;
}