.root {
  --dark-green: #517078;
  --light-green: #869082;
  --dark-blue: #3E4F61;
}

h1, h2, h3, p {
  font-family: Montserrat;
}

.App {
  text-align: center;
}

.wrapper {
  background: linear-gradient(#517078, #869082);
  margin:auto;
  margin-top: 2em;
  height: 85vh;
  width: 85vw;
  border-radius: 1em;
  padding: 2em;
  text-align: left;
}

main {
  padding-left: 8em;
}

h1 {
  color: rgb(233, 233, 233);
}

.big-hamster {
  position: sticky;
  margin-left: 50em;
}